.container {
  display: flex;
  background-color: #a08963;
  justify-content: space-around;
  padding: 20px 0;
}

.container-livros {
  background-color: #c9b194;
  border: 1px solid rgb(77, 73, 73);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 10px;
}

.img-capa {
  width: 120px;
  height: 170px;
}

.titulo-livro {
  width: 130px;
  text-align: center;
}

.detalhe-livro {
  background-color: #c9b194;
}
